
@font-face {
    font-family: fontedoida;
    src: url(./fonts/BenguiatITCbyBT-Book.otf);
}
header{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #B5C5FF;
    position: fixed;
}
header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
}
.boxGeral{
    height: 93vh;
    font-family: fontedoida;
    background-color: #D2DCFF;
}
.boxGeral h1{
    color: #D0A933;
    font-size: 5em;
    text-shadow: 0px 0px 12px rgba(10, 4, 3, 0.178);
    
}
.boxGeral h2{
    color: #D0A933;
    font-size: 3.5em;
    text-shadow: 0px 0px 12px rgba(10, 4, 3, 0.178);
    
}

.boxVazio{
    height: 7vh;
    background-color: #D2DCFF;
}

.boxInfo{
    background-color: #B5C5FF;
    width: 80%;
    height: 65%;
    color: #fff;
    box-shadow: 15px 13px 0px -1px rgba(227,231,241,1);
    font-size: 1.3em;
}

.boxSaibaMais{
    background-color: #B5C5FF;
    height: 7%;
    width: 70%;
    font-size: 1.6em;
    color: #fff;
    font-family: sans-serif;
    box-shadow: 15px 13px 0px -1px rgba(227,231,241,1);
}
footer{
    background-color: #B5C5FF;
    color: #fff;
}
li{
    margin: 8px 0px 8px 0px;
}
.inputContato i{
    font-size: 16pt;
    position: absolute;
    right: 10%;
    cursor: pointer;
    color: #a6a6a6;
    transform: translateY(-5px);
}
.inputContato input{
    border: 0px;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    outline: transparent;
    background-color: transparent;
    color: #fff;
    font-size: 12pt;
    font-weight: 600;
    position: relative;
}
.inputContato input::placeholder{
    color: #fff;
    font-size: 1rem;
    text-align: left;
}
.inputContato textarea{
    width: 100%;
    height: 130px;
    border: 2px solid #fff;
    background-color:#C3D0FF;;
    color: #fff;
}
.inputContato textarea::placeholder{
    color: #fff;
}
.inputContato textarea:focus{
    box-shadow: none;
    border: 2px solid #fff;
    background-color:#C3D0FF;;
    color: fff6;
}
.btnModal button{
    background-color: #fff;
    color: #D0A933;
    width: 30%;
    height: 40px;
}
.selectModal{
    width: 100%;
    height: 45px;
    border: 2px solid #a6a6a6;
    background-color:#FFFBE7;
    color: #A6A6A6;
}
input[type="file"] {
    display: none;
  }
.fileInput {
    width: 100%;
    height: 45px;
    border: 2px solid #a6a6a6;
    background-color:#FFFBE7;
    color: #A6A6A6;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 1.1em;
}
#modalContato .modal-body{
    overflow-y: scroll;
    height: 500px;
}
#modalContato .modal-body::-webkit-scrollbar {
    width: 6px;         
    height: 20px;    
    transform: translateX(40px);
}
#modalContato .modal-body::-webkit-scrollbar-track {
    background-color:#FFFBE7;     
}
#modalContato .modal-body::-webkit-scrollbar-thumb {
    background-color:#FABDC1; 
    border-radius: 20px;      
    border: 3px solid #FABDC1; 
}



.imagemEvento {
    width: 500px;
    height: 300px;
}
.livreBox{
    height: 32px;
    width: 32px; 
    border: 3.2px solid #a6a6a6;
    font-weight: bolder;
}
.centerInfo{
    align-items: center;
}

@media only screen and (max-width: 758px) {
    .eventImage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagemEvento {
        width: 350px;
        height: 210px;
    }
}

.social-container{
    width:100%;
    justify-content:space-evenly
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 3px solid #D0A933;
    border-radius: 50%
}
.social ion-icon{
    width: 35px;
    height: 35px;
    color: #D0A933;
}
.row-footer{
    border-bottom: 2px solid #D0A933;
}


